.card {
  --card-padding: var(--space-xl);
  --card-border-radius: var(--radius-2xl);

  background-color: var(--color-surface);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-md);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--card-padding);
  gap: var(--card-padding);
  transition:
    box-shadow var(--transition-fast),
    transform var(--transition-fast);
  position: relative;

  &:hover {
    box-shadow: var(--shadow-xl);
  }

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
    min-width: 0;
  }

  .card-title {
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
    color: var(--color-text);
    line-height: var(--line-height-tight);
    margin: 0;
  }

  .card-description {
    font-size: var(--text-sm);
    color: var(--color-text-light);
    margin: 0;
  }

  .card-content {
    flex: 1;
    min-width: 0;

    &.no-padding {
      margin-left: calc(-1 * var(--card-padding));
      margin-right: calc(-1 * var(--card-padding));
      margin-bottom: calc(-1 * var(--card-padding));
    }
    &.no-padding:first-child {
      margin-top: calc(-1 * var(--card-padding));
    }

    &.empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--color-text-muted);

      p {
        margin-bottom: 0;
      }
    }
  }

  .card-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    font-size: var(--text-sm);
    color: var(--color-text-light);
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-md);
    padding-top: var(--space-sm);
    border-top: var(--border-thin);
  }

  .card-loading-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(from var(--color-surface) r g b / 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
    animation-delay: 0.2s;
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }

  @media (max-width: 767px) {
    --card-padding: var(--space-lg);
  }

  @media (max-width: 576px) {
    --card-padding: var(--space-md);

    .card-title {
      font-size: var(--text-lg);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
