.page-settings {
  .settings-header {
    margin-bottom: var(--space-3xl);
    text-align: center;

    h1 {
      font-size: var(--text-3xl);
      font-weight: var(--font-bold);
      color: var(--color-text);
      margin-bottom: var(--space-sm);
    }

    .settings-description {
      font-size: var(--text-lg);
      color: var(--color-text-light);
      margin: 0;
    }
  }

  .add-item-icon {
    /* background-color: var(--color-surface-muted); */
    color: var(--color-text-muted);
    border: 1px dashed var(--color-text-muted);
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
  }

  .settings-container {
    display: grid;
    gap: var(--space-xl);
    grid-template-columns: 1fr;

    .settings-tracking-gap-input {
      width: 5.5rem;
      text-align: right;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .settings-header {
      margin-bottom: var(--space-2xl);
      text-align: left;

      h1 {
        font-size: var(--text-2xl);
      }

      .settings-description {
        font-size: var(--text-base);
      }
    }

    .settings-container {
      gap: var(--space-xl);
    }
  }
}
