.page-overview {
  /* padding: var(--space-lg); */
  max-width: var(--max-width-content);
  margin: 0 auto;

  section {
    margin-bottom: var(--space-xl);
  }

  section.widget-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-lg);
    align-items: stretch;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: var(--space-md);
    }
  }
}
